<div id="sidenav">
    <a onclick="closeNav()" href="javascript:void(0)" class="closebtn">&times;</a>
    <a onclick="closeNav()" href='../index.html#titlepage'>Home</a>
    <a onclick="closeNav()" href='../index.html#sponsors'>Sponsors</a>
    <a onclick="closeNav()" href='../index.html#first'>First</a>
    <a onclick="closeNav()" href='../resources.html  '>resources</a>
</div>
<img class="phone" id="navicon" src="../icons/navbaricon.svg" onclick="openNav()" draggable="false" alt="navicon">

<nav>
    <a href='../index.html#titlepage'>
        <img alt="Small Logo White" src='../logos/team/Logo_Small_White.svg'>
    </a>
    <h1>Team 8-Bit 9745</h1>
    <div class="highlight"><a href='../index.html#titlepage'>Home</a></div>
    <div class="highlight"><a href='../index.html#sponsors'>Sponsors</a></div>
    <div class="highlight"><a href='../index.html#first'>First</a></div>
    <div class="highlight"><a href='../resources.html'>Resources</a></div>
</nav>