#titlepage {
    scroll-margin-top: 50px;

    display: flex;

    justify-items: center;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;

    min-height: calc(100vh - 50px);
}

#titlepage #about {
    justify-content: space-around;
    align-items: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    min-height: 75vh;
}

#titlepage #teampicture {
    width: 40%;
    min-width: 40%;
    border-radius: 5px;
    display: inline-block;
    margin: 50px;
    border: 3vw var(--primary_purple) solid
}

#titlepage #about img {
    margin: 20px;
    flex-basis: 50px;
    width: 700px;
    height: 368px;
    border: none;
    display: inline-block;
    min-height: 250px; /* GF - Added this line to force image to be larger in Safari */
}

#titlepage #about p {
    margin: 20px;
    width: 75%;
    text-align: start;
}

#sponsors {
    scroll-margin-top: calc(50px + 1vh);
    display: flex;

    justify-content: space-around;
    align-items: center;
}

#sponsors .content {
    align-items: center;

    display: flex;
    flex-direction: column;
}

#sponsors .content div img {
    height: 400px;
    width: 400px;
    margin: 15px;
}

#first {
    scroll-margin-top: 50px;
    display: flex;

    justify-content: space-around;
    align-items: center;
}

#first .content {
    align-items: center;
    display: flex;
    flex-direction: column;

    width: 80%;
}

#first .content p {
    text-align: start;
}

.reveal {
    position: relative;
    transform: translatey(75px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translatex(0);
    opacity: 1;
}

@media screen and (max-width: 1700px) {
    #about .squarebox {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    #sponsors .squarebox {
        display: none;
    }

    #about {
        display: block;
    }
}

@media screen and (max-width: 1400px) {
    * {
        overflow-x: hidden;
    }

    nav {
        display: none;
    }

    #sponsors {
        display: block;
    }

    #first {
        display: block;
    }

    #titlepage {
        padding-bottom: 16px;
        display: block;
    }

    .phone {
        display: block;
    }

    div.green1:nth-child(1) {
        display: none;
    }

    #first .content {
        margin-left: 40px;
    }

    #first .squarebox {
        display: none;
    }

    p {
        text-align: left;
        font-size: 18px;
    }

    #sponsors .squarebox {
        display: none;
    }

    #sponsors .content img {
        object-fit: contain;
        flex-shrink: 0;
        min-height: 25%;
        max-width: 92%;
        margin: auto;
        display: block;
    }

    #sponsors .content h2 {
        text-align: center;
        width: 100%;
        top: 0;
    }

    #about .squarebox {
        display: none;
    }

    #titlepage #teampicture {
        margin: 0;
        padding: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border-radius: 4px;
        border: 5vw var(--primary_purple) solid;
    }

    #titlepage div#about img {
        display: block;
        width: 70%;
        margin-top: 10vw;
    }

    #about > p:nth-child(3) {
        margin: 0;
        padding: 0;
    }


    #sponsors .content img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }


    .highlight a {
        font-size: 100%;
        text-align: left;
    }
}

.contect-footer {
    font-family: 'Poppins Regular';
    white-space: pre-line;
    text-align: center;
    font-style: normal;
    font-size: 17px;
}