#resources {
    scroll-margin-top: 50px;
    margin-top: 50px;

    min-height: calc(100vh - 50px);
    user-select: none;
}

@media screen and (max-width: 400px) {
    #title {
        font-size: 50px;
    }
}

.resourcecontainer .title {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 40px;
    font-size: 60px;
}

.resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.resource {
    width: 400px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image.resource {
    margin-bottom: 100px;
    height: 350px;
}

.text.resource {
    margin-bottom: 50px;
}

.resource h1 {
    text-align: center;
    font-size: 35px;
}


.image.resource img {
    max-width: 75%;
    height: 75%;
    object-fit: contain;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text.resource a {
    font-family: 'Poppins Regular';
    color: var(--primary_white);
    font-size: 23px;
    text-align: justify;
}